@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

#root, .App {
  width: 100vw;
  min-height: 100vh;
  font-family: 'Roboto Condensed', sans-serif;
}

.App > div {
  width: 100vw;
  height: 100vh;
}