* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(25,10,80);
    background: radial-gradient(circle, rgba(25,10,80,1) 0%, rgba(9,9,121,1) 10%, rgba(4,18,26,1) 100%);
    width: 100vw;
    height: 98vh;
    font-family: 'Open Sans', sans-serif;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#formulario {
    border: 4px solid #c7ecee;
    padding: 10px;
    width: 40%;
    height: 80%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eccc68;
    border-radius: 14px;
}

input, textarea {
    background-color: #eccc68;
    width: 100%;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 4%;
}

label {
    font-size: 1em;
    width: 100%;
    text-align: right;
    margin-bottom: 1.6%;
    text-align: left;
    flex: 1;
    letter-spacing: 2px;
    margin-left: .8%;
    color: #2f3542;
    font-weight: bold;
}

input, textarea {
    flex: 1;
    padding: 1.6%;
    border-width: 2px 3px 4px 2px;
    border-color: #57606f;
    border-radius: 10px;
    outline: none;
    font-size: 1.1em;
    letter-spacing: 1px;
    transition: all .2s;
    margin-bottom: 2%;
}

input:focus, textarea:focus {
    border-color: #ffffff;
    border-width: 0px 1px 2px 8px;
}

textarea {
    flex: 10;
    resize: none;
}

button {
    flex: 2;
    width: 100%;
    margin: 0 auto;
    padding: 2%;
    border-radius: 5px;
    border: 3px dotted #eccc68;
    background-color: #c7ecee;
    text-transform: uppercase;
    color: #2f3542;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1em;
    box-sizing: border-box;
    border-radius: 8px;
    transition: all .2s;
}

button:hover {
    border-width: 3px;
    border-color: #57606f;
    font-size: 1.05em;
    letter-spacing: 2px;
    cursor: pointer;
}

#container-de-posts {
    margin: 10px;
    width: 70%;
    margin: auto;
    border-top: 3px double rgb(77, 77, 77);
    height: auto;
}

.error, .error:focus {
    outline-color: red;
    border-color: red;
}

.success, .success:focus {
    outline-color: #7bed9f;
    border-color: #7bed9f;
}

#banner {
    width: 40%;
}

@media screen and (min-device-width: 320px) and (max-device-width: 420px) {
    #formulario {
        width: 80%;
        height: 85%;
    }

    label {
        font-size: .8em;
    }

    button {
        padding: 1%;
    }
}