.bigcard-container {
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 20px 10px;
    margin-bottom: 10px;
    min-height: 200px;
    height: auto;
}

.bigcard-container > img {
    width: 70px;
    margin-right: 10px;
    border-radius: 10px 30px;
    transition: all .6s ease-in-out
}

.bigcard-container:hover > img {
    border-radius: 20px 10px;
    transform: translateX(-20px) scale(1.2);
}

.bigcard-container h4 {
    margin-bottom: 15px;
}

.bigcard-container > div {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
}

